.nav-items {
    display: flex;
    gap: 30px;
}

.nav-item > a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav-item > a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f3b01b;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-item > a:hover::after {
    width: 100%;
}